<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FMU User Disable</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/home">TEST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/test">Test
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row alert alert-info" th:if="${message}">
        <h5 th:text="${message}" />
    </div>
</div>
</body>
</html>